/* body{
    background-color:rgb(15, 30, 36);
    margin-top:0px;
    font-family: 'Mansalva', cursive;
} */
.wrapper{
    width:60vw;
    margin:auto;
    border: 2px solid black;
 
}

/*------------------------------Header--------------------------------*/


.header{
    background-color: black;
    height:40px;
    color:white;
   position:sticky;
    top:0px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}   

.header  a{
    color: white;
}


    
/*------------------------------Grid--------------------------------*/



.inner{
    display:grid;
    background-color:white;
    grid-template-rows: 1fr
}


    
/*---------------------1st row of grid-----------------------*/


/* #C1{

    background-image:url(https://media-cdn.tripadvisor.com/media/photo-s/0f/e6/0a/2b/beach-bar.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100% 100%;
    
    
} */

/* #C1 button{
    color:white;
    background-color:black;
    padding:15px 15px 15px 15px;
     position:relative;
    left:40%;
    top:10px; 
} */
#C1 div{
    text-align: center;
}

#C1 h1{
    text-align: center;
    margin:auto ;
    color:white;
}

#C1 h2{
    text-align: center;
    margin:auto ;
    color:white;
}
/*----------------------2nd row of grid-------------------------------*/


#C2 {
    text-align: center;
    color:black;
    margin:0 5px 0 5px;
    
}
#C2 h2{
    margin-top:40px;
 
}




/*----------------------3nd row of grid-------------------------------*/
#C3 {
    text-align: center;
    margin:0 5px 0 5px;
    
}

#C3 h2{
    margin-top:40px;
 
}

img{
    width:100%;
    height:100%
}


/*----------------------4nd row of grid-------------------------------*/
#C4 {
    text-align: center
    
}
#C4 h2{
    margin-top:40px;
 
}
.brands img{
    width:200px;
    height:200px;
}
.brands{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:strech;
}

/*----------------------5nd row of grid-------------------------------*/

#C5{
    text-align: center;
}

#C5 h2{
    margin-top:40px;
 
}

Footer{
    text-align:center;
    background-color: black;
    color:orange;

}
/*---------------------------------------------------*/
/* for screen more than 768px */
 @media all and (min-width: 768px){

    
    body{
        background-color:rgb(62, 66, 75);
        margin-top:0px;
        font-family: 'Mansalva', cursive;
        
    }
    #C1{
        height:500px;
        background-image:url(https://media-cdn.tripadvisor.com/media/photo-s/0f/e6/0a/2b/beach-bar.jpg);
        background-repeat: no-repeat;
        background-color: black;
        background-size: 100% 100%;
     }
     #C1 button{
        color:white;
        background-color:black;
        margin: 10% auto auto auto;
        padding:2px 2px 2px 2px;
         width:150px
    }
    iframe{
        height:500px
    }

    .brands div{
        flex:0 0 230px;
        text-align:left
}

.photos{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:5px;
    grid-auto-rows: 200px;
    grid-auto-flow:dense;

}
  
.photos div:nth-of-type(3) {
 grid-column:span 2
}

#C5 div{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap:5%;
    margin:0 5% 5% 5%;
}
} 

/* for screen smaaller than 768px ------------------------------*/
@media all and  (max-width: 768px){
    h1 {
        font-size: 20px;
      }
    h2{
        font-size: 15px
    }
    body{
        background-color:rgb(62, 66, 75);
        margin-top:0px;
        font-family: 'Mansalva', cursive;
        font-size: 13px
        
    }
    #C1{
        height:250px;
        background-image:url(https://media-cdn.tripadvisor.com/media/photo-s/0f/e6/0a/2b/beach-bar.jpg);
        background-repeat: no-repeat;
        background-color: black;
        background-size: 100% 100%;
     }

    

     #C1 button{
        color:white;
        background-color:black;
        margin: 10% auto auto auto;
        padding:2px 2px 2px 2px;
         width:100px

    }
    iframe{
        height:250px
    }
    
    .brands img{
        margin: auto;
        width:150px;
        height:150px;
    }
    .brands{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        text-align: center;
    }

    
    .photos{
        display:grid;
        grid-template-columns: 1fr;
    
    }
    
    #C5 div{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 100px);
        grid-gap:5%;
         margin:0 5% 5% 5%; 
    }
 

}


